:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-background: #fff;
}
body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background);
}
.logo {
  font-family: var(--logo-font);
  font-size: 18px;
  color: var(--primary-brand-color);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.dark-studio {
  color: var(--dark-color);
}

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}
.menu:hover,
.menu:focus {
  color: var(--pressed-state-color);
}
.address {
  font-style: normal;
}

.contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.contacts:hover,
.contacts:focus {
  color: var(--pressed-state-color);
}

.title {
  background-color: var(--dark-color);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.main-button {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand-color);
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}

.title-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.feature-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.doings-tiile {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-transform: capitalize;
}

.team {
  background-color: var(--light-color);
}

.cards {
  background-color: var(--white-background);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-card-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-card-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: var(--dark-color);
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  letter-spacing: 0.02em;
}

.footer .studio {
  color: var(--light-color);
}

.filter {
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand-color);
  cursor: pointer;
}

.filter:hover,
.filter:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}

.title-picture {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.picture-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
