:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-background: #fff;
}
body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--white-background);
}
header {
  background-color: var(--accent-color);
}
.logo {
  font-family: var(--logo-font);
  font-size: 18px;
  color: var(--primary-brand-color);
  text-decoration: none;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
span {
  color: var(--dark-color);
}
.list-nav {
  list-style-type: none;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-decoration: none;
}
.nav-link:hover,
.nav-link:active,
.nav-link:hover {
  color: var(--pressed-state-color);
  text-decoration: underline;
}
.contacts {
  font-style: normal;
}
.list-address {
  list-style-type: none;
}
.link-contacts {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
}
.link-contacts:hover,
.link-contacts:active,
.link-contacts:focus {
  color: var(--pressed-state-color);
}

.title {
  background-color: var(--dark-color);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-background);
}
.main-button {
  font-size: 16px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-brand-color);
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}
.features-list {
  list-style-type: none;
}
.title-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.feature-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.what-are-we-doing,
.features {
  background-color: var(--accent-color);
}
.what-are-we-doing-tiile {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-transform: capitalize;
}
.image-list {
  list-style-type: none;
}
.our-team {
  background-color: var(--light-color);
}
.our-team-list {
  background-color: var(--white-background);
  list-style-type: none;
}
.our-team-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.team-card-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.team-card-profession {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--dark-color);
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-color);
  letter-spacing: 0.02em;
}
.logo-studio {
  color: var(--light-color);
}

.page-portfolio {
  background-color: var(--accent-color);
}
.button-list {
  list-style-type: none;
}
.button-filter {
  font-family: var(--primary-font);
  font-weight: 500;
  letter-spacing: 0.04em;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
}
.button-filter:hover,
.button-filter:active,
.button-filter:focus {
  color: var(--white-background);
  background-color: var(--pressed-state-color);
}
.filter-list {
  list-style-type: none;
}
.category-list {
  list-style-type: none;
}
.category-link {
  text-decoration: none;
}
.title-picture {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.picture-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
